DDFStudio/Resources/DDFSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://ddfstudio.lima-city.de"
  targetNamespace="http://ddfstudio.lima-city.de"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:simpleType name="DMXUniverse">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="511"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CircleDegrees">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="360"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="step">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
        <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="optional"/>
      <xs:attribute name="mindmx" type="xs:unsignedByte" use="required"/>
      <xs:attribute name="maxdmx" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minval" type="xs:decimal" use="optional"/>
      <xs:attribute name="maxval" type="xs:decimal" use="optional"/>
      <xs:attribute name="caption" type="xs:string" use="optional"/>
      <xs:attribute name="val" type="xs:string" use="optional"/>
      <xs:attribute name="for" type="xs:string" use="optional"/>
      <xs:attribute name="handler" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="range">
    <xs:complexType>
      <xs:attribute name="type" type="xs:string" use="optional"/>
      <xs:attribute name="mindmx" type="xs:unsignedByte" use="optional"/>
      <xs:attribute name="maxdmx" type="xs:unsignedByte" use="optional"/>
      <xs:attribute name="minval" type="xs:decimal" use="optional"/>
      <xs:attribute name="maxval" type="xs:decimal" use="optional"/>
      <xs:attribute name="range" type="xs:decimal" use="optional"/>
      <xs:attribute name="caption" type="xs:string" use="optional"/>
      <xs:attribute name="handler" type="xs:string" use="optional"/>
      <xs:attribute name="for" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="cmy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cyan">
          <xs:complexType>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="magenta">
          <xs:complexType>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="yellow">
          <xs:complexType>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="rgb">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="red" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="green" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="blue" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="amber" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
            <xs:attribute name="hueLeftBottom" type="CircleDegrees" default="1"/>
            <xs:attribute name="hueLeftTop" type="CircleDegrees" default="1"/>
            <xs:attribute name="hueRightBottom" type="CircleDegrees" default="1"/>
            <xs:attribute name="hueRightTop" type="CircleDegrees" default="1"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="prism">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="prismrotation" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
              <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
            </xs:sequence>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
            <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="prismindex" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
            </xs:sequence>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
            <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>

        <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
        <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
      </xs:sequence>
      <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="position">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pan" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="range" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
            <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="tilt" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="range" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
            <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="colorwheel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
        <xs:element name="wheelrotation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
              <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="random" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
              <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
      <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
    </xs:complexType>
  </xs:element>

              <xs:element name="gobowheel">
                <xs:complexType>
                  <xs:sequence>
                    <!--begin goborotation-->
                    <xs:element name="goborotation" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                          <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                        </xs:sequence>
                        <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                        <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                      </xs:complexType>                      
                    </xs:element>
                    <!--end goborotation-->
                    <!--begin goboindex-->
                    <xs:element name="goboindex" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                       <xs:sequence>
                          <xs:element ref="range" minOccurs="0" maxOccurs="127"/> 
                        </xs:sequence>
                        <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                        <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                      </xs:complexType>
                    </xs:element>
                    <!--end goboindex-->
                    <!--begin goboshake-->
                    <xs:element name="goboshake" minOccurs="0" maxOccurs="1">
                     <xs:complexType>
                       <xs:sequence>
                         <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                         <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                       </xs:sequence>
                       <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                       <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                     </xs:complexType>
                    </xs:element>
                    <!--end goboshake-->
                    <!--begin wheelrotation-->
                    <xs:element name="wheelrotation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                         <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                         <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <!--end wheelrotation-->
                    <!--begin random-->
                    <xs:element name="random" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                         <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                         <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <!--end random-->
                    <xs:element ref="step" minOccurs="0" maxOccurs="256"/>                                      
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>

  <!--begin device-->
  <xs:element name ="device">
    <xs:complexType>
      <xs:sequence>
        <!--begin information-->
        <xs:element name="information" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modell" type="xs:string"/>
              <xs:element name="vendor" type="xs:string"/>
              <xs:element name="author" type="xs:string"/>
              <xs:element name="comment" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--end information-->
        <!--begin functions-->
        <xs:element name="functions" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!--begin shutter-->
              <xs:element name="shutter" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end shutter-->
              <!--begin strobe-->
              <xs:element name="strobe" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end strobe-->
              <!--begin dimmer-->
              <xs:element name="dimmer" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end dimmer-->

              <!--begin zoom-->
              <xs:element name="zoom" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end zoom-->

              <!--begin focus-->
              <xs:element name="focus" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end focus-->

              <!--begin iris-->
              <xs:element name="iris" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end iris-->

              <!--begin prism-->
              <xs:element ref="prism" minOccurs="0" maxOccurs="1"/>
              <!--end prism-->

              <!--begin frost-->
              <xs:element name="frost" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end frost-->

              <!--begin position-->
              <xs:element ref="position" minOccurs="0" maxOccurs="1"/>
              <!--end position-->

              <!--begin ptspeed-->
              <xs:element name="ptspeed" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end ptspeed-->

              <!--begin cmy-->
              <xs:element ref="cmy" minOccurs="0" maxOccurs="1"/>
              <!--end cmy-->

              <!--begin rgb-->
              <xs:element ref="rgb" minOccurs="0" maxOccurs="1"/>
              <!--end rgb-->

              <!--begin colortemp-->
              <xs:element name="colortemp" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="step" minOccurs="0" maxOccurs="256"/>
                    <xs:element ref="range" minOccurs="0" maxOccurs="127"/>
                  </xs:sequence>
                  <xs:attribute name="dmxchannel" type="DMXUniverse" default="1"/>
                  <xs:attribute name="finedmxchannel" type="DMXUniverse" default="1"/>
                </xs:complexType>
              </xs:element>
              <!--end colortemp-->
              
              <!--begin colorwheel-->
              <xs:element ref="colorwheel" minOccurs="0" maxOccurs="unbounded"/>
              <!--end colorwheel-->
            
              <!--begin gobowheel-->
              <xs:element ref="gobowheel" minOccurs="0" maxOccurs="unbounded"/>
              <!--end gobowheel-->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--end functions-->
      </xs:sequence>
      <xs:attribute name="image" type="xs:string"/>
      <xs:attribute name="type" type="xs:string" default="DMXDevice"/>
      <xs:attribute name="dmxcversion" type="xs:unsignedInt" default="3"/>
      <xs:attribute name="ddfversion" type="xs:decimal" default="1.0"/>
    </xs:complexType>
  </xs:element>
  <!--end device-->
</xs:schema>
